@gray-98: #fbfbfb;
@white: #fff;
@blue: #2c3e50;
@blue--gray: #95a5a6;
@blue-grayish: #87919b;

@color--wedding: #8c5224;
@color--men: #a3bb22;
@color--women: #94845a;
@color--report: #7d5f70;
@color--child: #6c855c;
@color--love-story: #71706a;
@color--price: #2d4052;
@color--idea: #2bc773;
@color--requisit: #3394dd;
@color--exp: #9d5dba;
@color--participation: #e57926;
@color--approach: #ea5a4b;
@color--committal: #3b4e66;

@bg--phone: #ecf0f1;
@bg--form: @blue--gray;
@bg--btn: #7f8c8d;
@bg--vk: #4c75a3;
@bg--instagram: #2e5e86;
@bg--fb: #4a6ea9;
@bg--twitter: #5ea9dd;
@bg--page-footer: #2c3e50;

@text-color: @white;
@heading-color: @white;
@heading-color--dark: @blue;

@form-color: @blue--gray;
@border-color: @blue-grayish;
@border-color--transparent: rgba(255, 255, 255, 0.4);

@link-color: @white;
@link-color--hover: darken(@link-color, 15%);

@html-size-base: 10px;
@font-size: 2.4rem;
@font-size--small: 1.8rem;
@font-size--large: 3.7rem;

@line-height: 1.4;
@line-height--heading: 1.2;

@text-weight: 100;
@heading-weight: 100;

// 85px
// 80px // 78px
// 58px
// 54px
// 48px
// 42px
// 37px
// 24px

@font-size--h1: 8.5rem;
@font-size--h2: 8rem;
@font-size--h3: 5.8rem;
@font-size--h4: 5.4rem;
@font-size--h5: 4.8rem;
@font-size--h6: 4.2rem;

@font-family: "Exo 2", Helvetica, Arial, sans-serif;
@font-family--heading: @font-family;
