@import "../variables.less";
@import "mixins.less";

#container(){
	height: @container-height;
}

#container--flex(){
	min-height: @container-height;
}

.container{
	#container();
	width: 50%;
}

.container--s{
	#container();
	width: 25%;
}

.container--l{
	#container();
	width: 100%;
}

.container--half{
	height: (@container-height / 2);
	width: 100%;
}

.container--flex{
	#container--flex();
	width: 50%;
}

.container--flex-s{
	#container--flex();
	width: 25%;
}

.container--flex-l{
	#container--flex();
	width: 100%;
}

@media (max-aspect-ratio: 9/10), (max-width: 480px)  and (min-resolution: 1.5dppx) {

	.container{
		width: 100%;
		height: ceil(@container-height*2);
	}

	.container--s{
		width: 50%;
		height: ceil(@container-height*2);
	}

	.container--l{
		width: 100%;
		height: ceil(@container-height*2);
	}

	.container--half{
		height: ceil(@container-height / 1.2);
		width: 100%;
	}

	.container--flex{
		#container--flex();
		width: 100%;
	}

	.container--flex-s{
		#container--flex();
		width: 50%;
	}

	.container--flex-l{
		#container--flex();
		width: 100%;
	}
}
