@import "../variables.less";
@import "mixins.less";

#container(){
	height: @container-height;
}

.container{
	#container();
	width: 50%;
}

.container--s{
	#container();
	width: 25%;
}

.container--l{
	#container();
	width: 100%;
}

//max-width: 480px

@media (max-aspect-ratio: 2/3), (max-width: 480px)  and (min-resolution: 1.5dppx) {

	.container{
		width: 100%;
		height: ceil(@container-height*2);
	}

	.container--s{
		width: 50%;
		height: ceil(@container-height*2);
	}

	.container--l{
		width: 100%;
		height: ceil(@container-height*2);
	}
}
