@import "../variables.less";
@import "mixins.less";


.dropdown-menu{

	&__toggle{
		font-size: @font-size--h4;
		z-index: 100;
	}

	&__container{
		position: absolute;
		top: 0;
		left: -50%;
		margin: 0;
		padding: 9.375vw 4.16vw 0 4.16vw;
		min-width: 25%;
		height: 100%;
		background-color: @bg--body;
		transition: left .6s
	}

	&__container--hidden{
		left: -100%;
		transition: left 1s;
	}

	&__container--show{
		left: 0;
		transition: left .6s;
	}

	&__item{
		padding: 0.72vw 0 1vw 0;
		list-style: none;
		border-bottom: 1px solid @border-color--lighten;


		&>a{
			font-size: @font-size--larger;
			font-weight: @text-weight;
			line-height: @line-height;
			letter-spacing: 0.02em;
			color: @blue--lighten;

			&:hover{
				color: @white;
			}
		}
	}

	&__item:last-of-type{
		border: none;
	}
}
