@import "../variables.less";

#clear(){
  &:before,
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

#flex-center(){
	display: flex;
	justify-content: center;
	align-items: center;
}

#flex-row(){
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#flex-row--reverse(){
	#flex-row();
	justify-content: flex-end;
}

#header(){
	margin: 0;
	padding: 0;
	font-family: @font-family--heading;
	font-weight: @heading-weight;
	line-height: @line-height--heading;
	color: @heading-color;
	text-align: center;
}

#text(){
	margin: 0;
	padding: 0;
	font-family: @font-family;
	line-height: @line-height;
	font-weight: @text-weight;
	color: @text-color;
}

#form-field(){
	padding-top: 1.1rem;
	padding-bottom: 1.1rem;
	font-size: @font-size;
	line-height: @line-height;
	font-weight: @text-weight;
	border: .2rem solid @bg--form;
	outline: none;


	&:focus{
		border: .2rem solid lighten(@bg--form, 15%);
	}

	&:required{
		outline: none;
	}

	&:valid{
		outline: none;
	}

	&:invalid{
		box-shadow: none;
		outline: none;
	}

	&::-webkit-input-placeholder{
		color: @form-color;
	}

	&::-moz-placeholder{
		color: @form-color;
	}

	&::-ms-input-placeholder{
		color: @form-color;
	}
}

#form-field--special(){
	padding-left: 5.5%;
	padding-right: 4.5%;
	color: @blue;
}
