@import "../variables.less";
@import "mixins.less";

.page-footer{
	background-color: @bg--page-footer;

	&__inner{
		padding-top: 10rem;
		padding-bottom: 6.5rem;
		padding-left: 11%;
		padding-right: 11%;
		display: flex;
		flex-direction: column;
	}

	&__wrapper{
		margin-top: 9rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
