@import "../variables.less";
@import "mixins.less";

.phone-number{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: @bg--light;

	>h1{
		font-family: @font-family;
		font-size: @font-size--h2;
		font-weight: @heading-weight;
		letter-spacing: 0.053em;
		line-height: @line-height--heading;
		color: @heading-color--dark;
	}
	&:hover>h1{
		color: lighten(@blue, 15%);
	}
}

@media (max-aspect-ratio: 9/10), (max-width: 480px) and (min-resolution: 1.5dppx){
	.phone-number{

		&>h1{
			font-size: (@font-size--h2 * 1.5);
		}
	}
}
