@import "../variables.less";
@import "mixins.less";

.price{
	#flex-center();
	background-color: @color--price;
	background-image: @bg-price;
	background-repeat: no-repeat;
	background-size: cover;

	&:hover>.additional-link{
		border-color: @white;
	}
}
