@import "../variables.less";
@import "mixins.less";

#social-links(){
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	background-image: @bg-picture--vk;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 53%;
	overflow: hidden;
}

#social-links__header(){
	margin: 0;
	margin-left: 10.4%;
	margin-bottom: 10.4%;
	padding: 0;
	font-family: @font-family--heading;
	font-size: @font-size--h6;
	line-height: @line-height--heading;
	font-weight: @heading-weight;
}

#social-links__subheader(){
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	margin-left: 8.4%;
	margin-bottom: 5.4%;
	padding-left: .7em;
	padding-right: .7em;
	padding-top: .25em;
	padding-bottom: .3em;
	font-family: @font-family--heading;
	font-size: @font-size--large;
	line-height: @line-height--heading;
	font-weight: @heading-weight;
	color: @heading-color;
	border: 1px solid @border-color--transparent;
	transform: translateY(170%) scale(.1);

}

.social-links{
	#social-links();
	background-color: @bg--vk;

	>h3{
		#social-links__header();
	}

	&:hover>h3{
		opacity: 0;
		transition: opacity .3s;
	}

	&:not(:hover)>h3{
		opacity: 1;
		transition: opacity .3s;
	}

	>h2{
		#social-links__subheader();
	}

	&:hover>h2{
		transform: translateY(0) scale(1);
		transition: transform .3s ease-out;
	}

	&:not(:hover)>h2{
		transform: translateY(170%) scale(.1);
		transition: transform .3s;
	}
}

.social-links--instagram{
	#social-links();
	background-color: @bg--instagram;
	background-image: @bg-picture--inst;
	background-size: 38.75%;

	>h3{
		#social-links__header();
	}

	&:hover>h3{
		opacity: 0;
		transition: opacity .3s;
	}

	&:not(:hover)>h3{
		opacity: 1;
		transition: opacity .3s;
	}

	>h2{
		#social-links__subheader();
	}

	&:hover>h2{
		transform: translateY(0) scale(1);
		transition: transform .3s ease-out;
	}

	&:not(:hover)>h2{
		transform: translateY(170%) scale(.1);
		transition: transform .3s;
	}
}

.social-links--fb{
	#social-links();
	background-color: @bg--fb;
	background-image: @bg-picture--fb;
	background-size: 21.25%;

	>h3{
		#social-links__header();
	}

	&:hover>h3{
		opacity: 0;
		transition: opacity .3s;
	}

	&:not(:hover)>h3{
		opacity: 1;
		transition: opacity .3s;
	}

	>h2{
		#social-links__subheader();
	}

	&:hover>h2{
		transform: translateY(0) scale(1);
		transition: transform .3s ease-out;
	}

	&:not(:hover)>h2{
		transform: translateY(170%) scale(.1);
		transition: transform .3s;
	}
}

.social-links--twitter{
	#social-links();
	background-color: @bg--twitter;
	background-image: @bg-picture--twitter;
	background-size: 43.54%;

	>h3{
		#social-links__header();
	}

	&:hover>h3{
		opacity: 0;
		transition: opacity .3s;
	}

	&:not(:hover)>h3{
		opacity: 1;
		transition: opacity .3s;
	}

	>h2{
		#social-links__subheader();
	}

	&:hover>h2{
		transform: translateY(0) scale(1);
		transition: transform .3s ease-out;
	}

	&:not(:hover)>h2{
		transform: translateY(170%) scale(.1);
		transition: transform .3s;
	}
}

@media (max-aspect-ratio: 9/10), (max-width: 480px)  and (min-resolution: 1.5dppx) {

	.social-links{

		>h3{
			font-size: (@font-size--h6 * 1.66);
		}

		>h2{
			font-size: (@font-size--large * 1.66);
		}
	}

	.social-links--instagram{

		>h3{
			font-size: (@font-size--h6 * 1.66);
		}

		>h2{
			font-size: (@font-size--large * 1.66);
		}
	}

	.social-links--fb{

		>h3{
			font-size: (@font-size--h6 * 1.66);
		}

		>h2{
			font-size: (@font-size--large * 1.66);
		}
	}

	.social-links--twitter{

		>h3{
			font-size: (@font-size--h6 * 1.66);
		}
		>h2{
			font-size: (@font-size--large * 1.66);
		}
	}
}
