@import "../variables.less";
@import "mixins.less";

@media (min-width: 319px){
	html {
		font-size: @html-size-base * .22;
	}
}

@media (min-width: 479px){
	html {
		font-size: @html-size-base * .3;
	}
}

@media (min-width: 639px){
	html {
		font-size: @html-size-base * .35;
	}
}

@media (min-width: 767px){
	html {
		font-size: @html-size-base * .4;
	}
}

@media (min-width: 1023px){
	html {
		font-size: @html-size-base * .53;
	}
}

@media (min-width: 1100px){
	html {
		font-size: @html-size-base * .57;
	}
}

@media (min-width: 1279px){
	html {
		font-size: @html-size-base * .666;
	}
}

@media (min-width: 1359px){
	html {
		font-size: @html-size-base * 0.708;
	}
}

@media (min-width: 1439px){
	html {
		font-size: @html-size-base * .75;
	}
}

@media (min-width: 1599px){
	html {
		font-size: @html-size-base * .83;
	}
}

@media (min-width: 1769px){
	html {
		font-size: @html-size-base * .92;
	}
}

@media (min-width: 1890px){
	html {
		font-size: @html-size-base;
	}
}

@media (min-width: 2520px){
	html {
		font-size: @html-size-base * 1.33;
	}
}

@media (min-width: 3800px){
	html {
		font-size: @html-size-base * 2;
	}
}
